<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1><%= wiki.title %></h1>

        <% if(currentUser) { %>
          <form style="display:initial" action="/wikis/<%= wiki.id %>/edit" method="get">
            <button type="submit" class="btn btn-warning">Edit</button>
          </form>
          <% if(currentUser.id == wiki.userId || currentUser.role == 2) { %>
            <form style="display:initial" action="/wikis/<%= wiki.id %>/destroy" method="post">
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
            <% if( wiki.private == false  && (currentUser.role == 1 || currentUser.role == 2) ) { %>
              <form style="display:initial" action="/wikis/<%= wiki.id %>/private" method="post">
                <button type="submit" class="btn btn-success">Make Wiki Private</button>
              </form>
            <% } %>
            <% if( wiki.private == true  && (currentUser.role == 1 || currentUser.role == 2) ) { %>
              <form style="display:initial" action="/wikis/<%= wiki.id %>/public" method="post">
                <button type="submit" class="btn btn-primary">Make Wiki Public</button>
              </form>
            <% } %>
          <% } %>
      <% } %>

      <p><%- wiki.body %></p>
      <hr>

    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
